* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "poppins", sans-serif;
  background-color: black;
}
.header {
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/3692590.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: hue-rotate(5deg);
  border-bottom: 1px solid cornsilk;
}
.navbar {
  height: 14vh;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px cornsilk;
}
.heading {
  pointer-events: none;
  font-size: 20px;
  margin-right: 44rem;
  background: linear-gradient(
    to right,
    rgb(247, 133, 4),
    rgb(247, 247, 247),
    rgb(240, 231, 157)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: hue-rotate(1deg);
}

ul {
  padding-left: 3rem;
}
ul a {
  text-decoration: none;
  font-size: 18px;
  color: cornsilk;
}
.landing {
  position: relative;
  margin-top: 9rem;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 4, 4),
    rgb(27, 18, 18),
    rgb(255, 8, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span {
  font-size: 36px;
  font-weight: 600;
}
.tag {
  display: flex;
  color: cornsilk;
}
.tag a:hover {
  color: wheat;
  font-weight: 400;
}
.about {
  width: 100%;
  height: 100%;
  background-color: rgba(238, 237, 161, 0.521);
}
.heading2 {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 42%;
  font-weight: 600;
}
.info {
  position: relative;
  left: 10%;
  background-color: black;
  color: wheat;
}
.menu {
  background-image: url(https://static.vecteezy.com/system/resources/previews/003/823/542/original/spices-for-use-as-cooking-ingredients-on-a-wooden-background-with-fresh-vegetables-healthy-food-herbs-organic-vegetables-on-the-table-raw-materials-of-cooking-preparation-tom-yum-free-photo.jpg);
  width: 100%;
  height: 80%;
  background-position: center above;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
/* .menu::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.178);
  width: 100%;
  height: 100%;
} */
.card-wrapper {
  width: 100%;
  height: 100%;
}
.card1 {
  width: 28%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: 5px 5px 5px;
  backdrop-filter: blur(1px);
  font-family: "poppins", sans-serif;
}
.card1 h1 {
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 4, 4),
    rgb(27, 18, 18),
    rgb(255, 8, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1 li {
  list-style: disc;
  color: black;
  font-size: large;
  font-weight: 600;
}
.menu-head {
  background: linear-gradient(
    to right,
    rgb(245, 0, 0),
    rgba(184, 11, 11, 0.493),
    rgb(224, 0, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.right {
  width: 400px;
  height: 580px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid #ffffff80;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(2px);
  margin: 8rem;
}
input::placeholder {
  color: black;
  text-align: left;
  font-size: 15px;
  padding-left: 10 px;
  letter-spacing: 2px;
}
form {
  width: 300px;
  margin: 0 auto;
}
form input {
  margin: 15px 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid #ffffff80;
  border-radius: 5px;
  border-right: none;
  border-bottom: none;
  text-align: center;
  color: black;
}
label {
  display: block;
  font-weight: 600;
  color: #fff;
  font-size: large;
  letter-spacing: 1px;
}
form h1 {
  color: #fff;
  font-size: 33px;
  text-align: center;
}
form h5 {
  font-size: 15px;
  margin: 10px 0 20px;
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  color: #fff;
}
form h5 span {
  padding-left: 5px;
}
form button {
  width: 60%;
  height: 32px;
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid #ffffff80;
  border-radius: 5px;
  border-right: none;
  border-bottom: none;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-left: 4rem;
}
input:focus {
  outline: none;
}
.footer {
  background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
  background-position: center above;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  margin-top: -150px;
  margin-left: 4rem;
}
form button:hover {
  background-color: black;
}
